In [1]:
import pandas as pd

In [3]:
csv_file = "Resources/userprofile.csv"
profile_df = pd.read_csv(csv_file)
profile_df.head()

,userID,latitude,longitude,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,birth_year,interest,personality,religion,activity,color,weight,budget,height
0,U1001,22.139997,-100.978803,false,abstemious,informal,family,on foot,single,independent,1989,variety,thrifty-protector,none,student,black,69,medium,1.77
1,U1002,22.150087,-100.983325,false,abstemious,informal,family,public,single,independent,1990,technology,hunter-ostentatious,Catholic,student,red,40,low,1.87
2,U1003,22.119847,-100.946527,false,social drinker,formal,family,public,single,independent,1989,none,hard-worker,Catholic,student,blue,60,low,1.69
3,U1004,18.867000,-99.183000,false,abstemious,informal,family,public,single,independent,1940,variety,hard-worker,none,professional,green,44,medium,1.53
4,U1005,22.183477,-100.959891,false,abstemious,no preference,family,public,single,independent,1992,none,thrifty-protector,Catholic,student,black,65,medium,1.69

In [4]:
profile_df = profile_df[["userID", "latitude", "longitude", "smoker", "drink_level", "ambience", 
                         "transport", "religion"]]
profile_df.head()

,userID,latitude,longitude,smoker,drink_level,ambience,transport,religion
0,U1001,22.139997,-100.978803,false,abstemious,family,on foot,none
1,U1002,22.150087,-100.983325,false,abstemious,family,public,Catholic
2,U1003,22.119847,-100.946527,false,social drinker,family,public,Catholic
3,U1004,18.867000,-99.183000,false,abstemious,family,public,none
4,U1005,22.183477,-100.959891,false,abstemious,family,public,Catholic